.business-settings-card {
  display: flex;
  flex-direction: column;
  text-align: left;
  padding-left: 3rem;
}

.business-settings-header {
  margin-bottom: 2em;
}

.dashboard-settings-tiles {
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 55vw;
  gap: 2em;
  grid-auto-rows: 1fr;
}

.dashboard-settings-tile {
  display: flex;
  background-color: #ffffff;
  padding: 2em 1em;
  gap: 1em;
  border: 1px solid #e9e9e9;
  border-radius: 6px;
  cursor: pointer;
}

.dashboard-settings-tile-icon {
  margin-top: 4px;
  font-size: 26px;
}

.dashboard-settings-tile-body {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.dashboard-settings-tile-chevron {
  align-self: center;
  opacity: 30%;
}

.dashboard-settings-tile-body-description {
  display: flex;
  flex-direction: column;
  gap: 0.5em;
}

.dashboard-settings-tile:hover {
  .dashboard-settings-tile-chevron {
    opacity: 80%;
  }
}
.dashboard-settings-tiles a {
  display: contents; /* disable Link's own box!!!*/
}
