.dashboard-sidebar {
  display: flex;
  flex-direction: column;
  width: 4em;
  background-color: #19191d;
  height: calc(100vh - 100px); /* -top(height of navbar) */
  position: fixed;
  top: 100px; /* height of navbar */
  z-index: 1000;
}

@media (max-width: 1200px) {
  .dashboard-sidebar {
  }
}

.dashboard-sidebar-icon {
  color: #424246;
  font-size: 32px;
  padding: 0.25em;
}

.sidebar-link {
  position: relative;
  display: inline-block;
}
.sidebar-link:hover .dashboard-sidebar-icon {
  color: #ffffff;
}

.sidebar-link.active .dashboard-sidebar-icon {
  color: #ffffff;
}

.sidebar-link.active::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 3px;
  height: 100%;
  background-color: white;
  border-radius: 2px;
}

.sidebar-link .tooltip {
  visibility: hidden;
  opacity: 0;
  background-color: #19191d;
  color: #fff;
  text-align: center;
  padding: 6px 10px;
  border-radius: 4px;
  position: absolute;
  left: 110%; /* obok ikony */
  top: 50%;
  transform: translateY(-50%);
  white-space: nowrap;
  transition: opacity 0.2s;
  z-index: 10;
}

.sidebar-link:hover .tooltip {
  visibility: visible;
  opacity: 1;
}
