.modal-overlay {
  position: fixed; /* przykrywa całą stronę */
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1002;
}

.opening-hour-modal-card {
  position: fixed;
  top: 20%;
  left: 50%;
  transform: translateX(-50%);
  padding-left: 2em;
  padding-right: 2em;
  display: flex;
  flex-direction: column;
  z-index: 1001;
  max-width: 500px;
  background-color: #f5f5f5;
  border-radius: 6px;
  justify-content: space-between;
}

.opening-hour-modal-card-header {
  padding-top: 1.5em;
  display: flex;
  margin-bottom: 1em;
  align-items: center;
}

.opening-hour-modal-card-description p {
  margin-top: 2em;
  opacity: 80%;
  text-align: left;
}

.opening-hour-modal-card-header-close {
  cursor: pointer;
  width: 20px;
  height: 20px;
}

.opening-hour-modal-card-header h1 {
  margin-left: 1em;
}

.opening-hour-modal-card-body {
  display: flex;
  gap: 1em;
  align-items: center;
  justify-content: space-between;
}

.opening-hour-modal-card-body-inputs {
  display: flex;
  gap: 1em;
}

.opening-hour-modal-card-body-inputs select {
  width: 125px;
  padding: 12px;
  border-radius: 4px;
  font-size: 16px;
}

.opening-hour-modal-card-book-details {
  margin-top: 3em;
  margin-bottom: 1em;
}

@media (max-width: 560px) {
}
