.handle-photos-gallery-modal-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  z-index: 1000;
  background: rgba(0, 0, 0, 1);
}

.handle-photos-gallery-modal {
  height: inherit;
  width: inherit;
  position: relative;
  display: flex;
}

.handle-photos-gallery-modal-menu {
  position: absolute;
  top: 2rem;
  left: 0px;
  z-index: 10;
  color: white;
  font-size: 32px;
  display: flex;
  gap: 0.5rem;
  align-items: center;
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.swiper-button-next,
.swiper-button-prev {
  color: white !important;
}

.handle-photos-gallery-modal img {
  user-select: none;
  -webkit-user-drag: none;
}

.swiper-slide {
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  width: auto;
  height: auto;
  max-width: 80%;
  max-height: 80%;
}

.handle-photos-gallery-modal img {
  transform: translateZ(0);
  backface-visibility: hidden;
}
