@import url("https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:wght@200;300;400;700&display=swap");

.testimonialWrapper {
  width: 1600px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(4, minmax(300px, 1fr));
  gap: 1em;
}

.testimonialCard {
  background-color: rgb(230, 225, 225);
  border-radius: 10px;
  padding: 1em;
  font-family: "Barlow Semi Condensed", sans-serif;
  line-height: 1.7;
  font-size: 13px;
  text-align: justify;
}

.testimonialCard:first-child {
  grid-column: span 2;
}
.testimonialCard:nth-child(3) {
  grid-row: span 2;
}

.testimonialCard:nth-child(5) {
  grid-column: span 2;
}

.testimonialHeader {
  display: flex;
  flex-direction: row;
  padding-bottom: 1em;
}

.testimonialBody {
  padding-top: 10px;
}

.testimonialPortrait {
  width: 50px;
  border-radius: 50%;
}

.testimonialPortrait {
  border: 2px solid #996ed9;
  margin-right: 10px;
}

.testimonialCard > header > div > p {
  text-align: left;
  opacity: 50%;
}

.testimonialCard-purple {
  background-color: hsl(263, 55%, 52%);
  color: white;
  background-image: url("../../images/bg-pattern-quotation.svg");
  background-repeat: no-repeat;
  background-position: top 10px right 100px;
}

.testimonialCard-gray-blue {
  background-color: hsl(217, 19%, 35%);
  color: #fff;
}

.testimonialCard-black-blue {
  background-color: hsl(219, 29%, 14%);
  color: #fff;
}

@media (max-width: 1600px) {
  .testimonialWrapper {
    width: 500px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(1, minmax(100px, 1fr));
    gap: 1em;
  }

  .testimonialCard:first-child {
    grid-column: auto;
  }
  .testimonialCard:nth-child(3) {
    grid-row: auto;
  }

  .testimonialCard:nth-child(5) {
    grid-column: auto;
  }
}
