.manage-business-wrapper {
  display: flex;
  justify-content: space-between;
  max-width: 1300px;
  margin: 0 auto;
}

.manage-business-main {
  width: 800px;
  margin: 0;
  margin-right: 3em;
}

.business-profile-image {
  width: 800px;
  height: 530px;
  object-fit: cover;
  border-radius: 8px;
  cursor: pointer;
}

.business-profile-image.many-photos {
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
}

.business-image-gallery-wrapper {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: 1px;
  grid-auto-rows: 132px;
  width: 100%;
}

.business-image-gallery {
  width: 100%;
  height: 100%;
  object-fit: cover;
  margin-top: -2px;
  cursor: pointer;
}

.business-image-gallery:first-child {
  border-bottom-left-radius: 8px;
}

.business-image-gallery:last-child {
  border-bottom-right-radius: 8px;
}

.manage-business-main-header {
  text-align: left;
}

.manage-business-main-header p {
  opacity: 80%;
}

.manage-business-main-services .services-header {
  margin-top: 1em;
  display: flex;
  justify-content: space-between;
  margin-bottom: 1em;
}

.input-wrapper {
  position: relative;
}

.input-wrapper .input-icon {
  position: absolute;
  left: 10px;
  top: 50%;
  transform: translateY(-50%);
}

.input-wrapper input {
  padding-left: 32px;
  height: 36px;
  background-color: #ebebeb;
  width: 18em;
}

.manage-business-main-services .services .services-group {
  display: flex;
  justify-content: space-between;
  margin-bottom: 2em;
}

.manage-business-main-services .services .services-group .name-desc {
  text-align: left;
  max-width: 15em;
}

.manage-business-main-services .services .services-group .name-desc span {
  opacity: 80%;
}
.manage-business-main-services .services .services-group .book-details {
  display: flex;
  align-items: flex-start;
  gap: 10px;
}

.book-details button {
  margin: 0;
  font-size: 12px;
  padding: 0em 1em;
  width: 70px;
  cursor: pointer;
}
.services .divider {
  opacity: 40%;
  margin-bottom: 1em;
}

.price-duration {
  text-align: right;
}

.price-duration span {
  opacity: 80%;
  font-size: 14px;
}

.services-group-button {
  margin-top: 5px;
  border: 1px solid #8c8b8870;
  border-radius: 0.5rem;
  width: 35px;
  height: 35px;
  display: flex;
  gap: 3px;
  align-items: center;
  justify-content: center;
  box-shadow: 4px 4px 8px -4px rgba(0, 0, 0, 0.12);
  cursor: pointer;
}

.services-group-button .circle-icon {
  width: 4px;
  height: 4px;
  color: #8c8b88;
}

.manage-business-aside {
  display: flex;
  flex-direction: column;
  max-width: 400px;
}

.gift-cards {
  padding: 1em;
  border: 1px solid rgb(210, 210, 210);
  border-radius: 6px;
  text-align: left;
  margin-bottom: 2em;
  box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.11);
}
.gift-cards > p {
  margin-top: 0.5em;
  opacity: 80%;
}

.gift-cards-button {
  margin-top: 1em;
  width: 10em;
  height: 35px;
  border: 1px solid rgb(210, 210, 210);
  background-color: #f5f5f5;
  color: black;
  cursor: pointer;
}

.manage-business-aside-main {
  padding: 1em;
  background-color: #fafafa;
}

.manage-business-map {
  height: 200px;
  max-width: 400px;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
}
.manage-business-about {
  text-align: left;
  margin-bottom: 2em;
}
.manage-business-aside-main h4 {
  text-align: left;
  color: rgb(56, 55, 52);
  font-weight: 600;
  margin-top: 1em;
  margin-bottom: 1em;
}

.manage-business-about > .show-more {
  opacity: 80%;
}

.about-text {
  white-space: pre-line;
  text-align: justify;
  font-size: 18px;
  margin-bottom: 0.5em;
}

.manage-business-about .show-more {
  cursor: pointer;
}

.manage-business-employees-avatars {
  display: flex;
  overflow-x: hidden;
  gap: 2rem;
  -ms-overflow-style: none;
  user-select: none;
  cursor: pointer;
  /* scrollbar-gutter: stable; doesnt work */
  padding-bottom: 12px; /* fix for scrollbar gutter */
}
.manage-business-employees-avatars:hover {
  overflow-x: auto;
  padding-bottom: 6px; /* fix for scrollbar gutter */
}

.manage-business-employees-avatars::-webkit-scrollbar {
  height: 6px;
}

.manage-business-employees-avatars::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.25);
  border-radius: 4px;
}

.manage-business-employees .employee-avatar-group {
  margin-left: 0.5rem;
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
  justify-content: center;
  align-items: center;
}

.manage-business-employees .employee-avatar {
  border-radius: 50%;
  width: 75px;
  height: 75px;
  -webkit-user-drag: none;
  user-select: none;
  pointer-events: auto;
}

.manage-business-employees .employee-avatar-placeholder {
  border-radius: 50%;
  width: 75px;
  height: 75px;
  border: 1px solid #ccc;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 30px;
  background-color: rgb(187, 187, 187);
  -webkit-user-drag: none;
  user-select: none;
  pointer-events: auto;
}

.business-hours-group {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1em;
}

.day-of-week-bold {
  font-weight: bold;
}

.manage-business-details {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
}

.manage-business-details div {
  display: flex;
  margin-top: 0.5em;
}

.manage-business-details div p {
  margin-left: 1em;
}
