.dashboard-wrapper {
  display: flex;
  min-height: calc(100dvh - 100px); /* navbar */
}

.dashboard-main {
  /* width of sidebar nav */
  margin-left: 4em;
  flex: 1;
  height: calc(100dvh - 100px);
  display: flex;
}
