.dashboard-wrapper {
  display: flex;
  min-height: calc(100dvh - 100px); /* navbar */
}

.dashboard-main {
  margin-left: 4em; /* width of sidebar nav */
  flex: 1;
  height: calc(100dvh - 100px);
  display: flex;
  /* overflow-y: hidden; */
}
