.business-staff-management-nav {
  border-bottom: 1px solid #ccc;
  display: flex;
  gap: 1em;
  background-color: white;
}

.business-staff-management-nav button {
  padding: 1em;
  opacity: 65%;
}

.business-staff-management-nav button:hover {
  opacity: 80%;
}
