.loginCard {
  margin: auto;
  margin-top: 4em;
  width: 25em;
  border-radius: 12px;
  padding: 2em;
  box-shadow: 0 24px 60px rgba(0, 0, 0, 0.3);
  background: linear-gradient(to bottom, #c6e3ff 0%, #ffffff 100%);
}

.loginForm {
  margin: auto;
  margin-top: 1em;
  display: flex;
  flex-direction: column;
  margin-bottom: 1em;
}

#loginDescription {
  padding-top: 5px;
  padding-bottom: 5px;
  opacity: 95%;
}

.loginForm > input {
  margin: auto;
  margin-bottom: 0.5em;
  width: 100%;
  height: 2em;
  border-radius: 10px;
  border: 0px;
  padding-left: 5px;
}

.loginForm > button:hover {
  cursor: pointer;
  background: rgba(0, 0, 0, 0.9);
}

#forgotPassword {
  text-align: right;
  margin-bottom: 0.5em;
}
