.loginCard {
  margin: auto;
  margin-top: 4em;
  width: 25em;
  border-radius: 12px;
  padding: 2em;
  box-shadow: 0 24px 60px rgba(0, 0, 0, 0.3);
  background: #ffffff;
}

.loginForm {
  margin: auto;
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
}

.login-inputs-wrapper {
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
}

#login-failed {
  cursor: default;
  margin-top: 1rem;
  background-color: #ffcdcc;
  padding: 1rem;
  border-radius: 10px;
}

#loginDescription {
  padding-top: 5px;
  padding-bottom: 5px;
  opacity: 95%;
}

.loginForm > input {
  margin: auto;
  margin-bottom: 0.5em;
  width: 100%;
  height: 2em;
  border-radius: 10px;
  border: 0px;
  padding-left: 5px;
}

button {
  border-radius: 10px;
  border: 1px solid #c6e3ff;
  margin: auto;
  width: 100%;
  height: 2.5em;
  background-color: #2a2c32;
  color: #ffffff;
}

.loginForm > button:hover {
  cursor: pointer;
  background: rgba(0, 0, 0, 0.9);
}

#forgotPassword {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  cursor: pointer;
  width: fit-content;
  margin-left: auto;
}
#forgotPassword:hover {
  color: #494949;
}
