@import url("https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:wght@200;300;400;700&display=swap");

html,
body {
  color: #1a1a1a;
  font-family: "Barlow Semi Condensed", sans-serif;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
}

a {
  color: black;
  text-decoration: inherit;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
  overflow-y: scroll;
}

.button-bookuj {
  border-radius: 0.5rem;
  border: 1px solid #c6e3ff;
  /* margin: auto; */
  width: auto;
  height: 2.5rem;
  background-color: #2a2c32;
  color: #ffffff;
  cursor: pointer;
  padding: 10px 20px;
}

button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

.button-navigation {
  background-color: transparent;
  border-radius: 0px;
  border: none;
  color: black;
  width: auto;
  height: auto;
  margin: 0;
  cursor: pointer;
}

.button-navigation:focus {
  outline: none;
}
.button-navigation:focus-visible {
  box-shadow: inset 0 -2px 0 #000;
}

.button-navigation.active {
  box-shadow: inset 0 -2px 0 #000;
  font-weight: 600;
  opacity: 100%;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
  }
  button {
    background-color: #2a2c32;
  }
}

.MuiSwitch-root *,
.MuiSwitch-thumb,
.MuiSwitch-track,
.MuiSwitch-switchBase {
  transition: 150ms cubic-bezier(0.4, 0, 0.2, 1) !important;
}
