.business-settings-details-opening-hours-card {
  padding-left: 3rem;
}

.business-settings-details-opening-hours-tiles {
  margin-top: 1em;
  background-color: #ffffff;
  padding: 2em 1em;
  gap: 1em;
  border: 1px solid #e9e9e9;
  border-radius: 6px;
  width: 25rem;
}

.business-settings-details-opening-hours-back {
  display: flex;
  gap: 1em;
  justify-content: flex-start;
  align-items: center;
}

.business-settings-details-opening-hours-save {
  min-width: 8em;
  margin-top: 1em;
  height: 3em;
  align-self: flex-end;
}

.business-settings-details-opening-hours-save button {
  height: 100%;
  cursor: pointer;
}

.business-settings-details-opening-hours-save button:disabled {
  cursor: not-allowed;
  background-color: #2a2c32ec;
}
