.business-staff-content {
  display: flex;
  height: calc(100vh - 148px);
}

.business-staff-content-staff {
  padding-top: 1em;
  padding-bottom: 1em;
  width: 400px;
  background-color: #fff;
  position: relative;
  display: flex;
  flex-direction: column;
  min-height: 0;
}

.business-staff-content-staff-list {
  margin-top: 1em;
  display: flex;
  flex-direction: column;
  min-height: 0;
  overflow-y: hidden;
  user-select: none;
}

.business-staff-content-staff-list:hover {
  overflow-y: auto;
}
.business-staff-content-staff-list::-webkit-scrollbar {
  width: 6px;
}

.business-staff-content-staff-list::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.25);
  border-radius: 4px;
}

.business-staff-content-staff .form-group {
  margin-left: 1em;
  margin-right: 1em;
}

.business-staff-content-staff-list-single {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 1rem 0rem 1rem 0rem;
  cursor: pointer;
}

.business-staff-content-staff-list-single:hover {
  background-color: #f5f5f5;
}

.business-staff-content-staff-list-single.active {
  background-color: #f5f5f5;
}

.business-staff-content-staff-list-single-icon {
  font-size: 24px;
  opacity: 30%;
  touch-action: none;
}

.business-staff-content-staff-list-avatar {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  object-fit: contain;
}

.business-staff-content-staff-list-avatar-placeholder {
  width: 50px;
  height: 50px;
  min-width: 50px;
  min-height: 50px;
  border: 1px solid #ccc;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(187, 187, 187);
}

.business-staff-content-staff-add-staff {
  position: absolute;
  width: 60px;
  height: 60px;
  right: 1em;
  bottom: 1em;
  background-color: black;
  border-radius: 50%;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  box-shadow: 0px 6px 12px rgb(0, 0, 0, 0.4);
}

.business-staff-content-details {
  width: 40em;
  padding: 1em 1em 0em 1em;
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 1em;
  min-height: 0;
}

.business-staff-content-details-header-info {
  display: flex;
  justify-content: center;
  align-items: center;
}

.business-staff-content-details-header-info-main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1em;
}

.business-staff-content-details-header-info-avatar-placeholder {
  width: 85px;
  height: 85px;
  border: 1px solid #ccc;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(187, 187, 187);
  cursor: default;
  font-size: 36px;
  user-select: none;
}

.business-staff-content-details-header-info-avatar {
  width: 85px;
  height: 85px;
  object-fit: contain;
  border-radius: 50%;
  user-select: none;
}

.business-staff-content-details-header-edit {
  position: absolute;
  left: 0em;
  top: 0em;
  margin-top: 1em;
  margin-left: 1em;
  width: 50px;
  height: 50px;
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #ccc;
  border-radius: 6px;
  cursor: pointer;
}

.business-staff-content-details-header-calendar-button {
  position: absolute;
  right: 0em;
  top: 0em;
  margin-top: 1em;
  margin-right: 1em;
  background-color: #fff;
  display: flex;
  gap: 0.5em;
  justify-content: center;
  align-items: center;
  border: 1px solid #ccc;
  border-radius: 6px;
  height: 40px;
  width: fit-content;
  padding-left: 1em;
  padding-right: 1em;
  cursor: pointer;
}

.business-staff-content-staff-list .divider {
  background-color: #f5f5f5;
  opacity: 30%;
  width: 100%;
  height: 1px;
}

.business-staff-content-details-header-info-main-bottom {
  display: flex;
  gap: 1em;
}

.business-staff-content-details-header-info-main-bottom-role-badge {
  background-color: #e0e0e0;
  border-radius: 8px;
  padding-top: 1px;
  padding-bottom: 1px;
  padding-left: 0.5em;
  padding-right: 0.5em;
  user-select: none;
}

.business-staff-content-details-body {
  display: flex;
  flex-direction: column;
  min-height: 0;
  background-color: #fff;
  border-radius: 6px;
}

.business-staff-content-details-body-category-name {
  font-size: 24px;
  text-align: left;
  padding: 0.5em 1em;
  font-weight: bold;
}

.business-staff-content-details-body-service-group-wrapper {
  overflow-y: hidden;
  scrollbar-gutter: stable;
}

.business-staff-content-details-body-service-group-wrapper:hover {
  overflow-y: auto;
}

.business-staff-content-details-body-service-group-wrapper::-webkit-scrollbar {
  width: 6px;
}

.business-staff-content-details-body-service-group-wrapper::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.25);
  border-radius: 4px;
}

.business-staff-content-details-body-service-group {
  text-align: left;
  display: grid;
  grid-template-columns: 4fr 3fr;
  gap: 1em;
  font-size: 22px;
  padding: 0.5em 1em;
}

.business-staff-content-details-body-service-group:not(:last-of-type),
.business-staff-content-details-body-category-name {
  border-bottom: 1px solid #ccc;
}

.business-staff-content-details-body-service-group-name {
  opacity: 90%;
}

.business-staff-content-details-body-service-group-duration-price {
  display: grid;
  grid-template-columns: 3fr 4fr;
  gap: 1em;
  text-align: right;
}

.business-staff-content-details-body .divider {
  opacity: 30%;
}

.business-staff-content-details-body-nav {
  display: flex;
  border-bottom: 1px solid #ccc;
}

.business-staff-content-details-body-nav button {
  padding: 1em;
  margin-left: 1em;
  height: 100%;
  cursor: pointer;
}

.business-staff-content-details-body-search-service {
  margin: 1em;
}

#searchServices {
  background-color: #f5f5f5;
  border-radius: 6px;
}
