.business-settings-details-generalInformation-card {
  padding-left: 3rem;
}

.business-settings-details-generalInformation-header {
  display: flex;
  gap: 1em;
  justify-content: space-between;
  width: 35vw; /*has to remain the same as in .dashboard-settings-details-generalInformation-body! */
  align-items: flex-start;
}

.business-settings-details-generalInformation-header-back {
  display: flex;
  gap: 1em;
  justify-content: flex-start;
  align-items: center;
}

.business-settings-details-generalInformation-header-save {
  min-width: 8em;
  height: 3em;
  align-self: flex-end;
}

.business-settings-details-generalInformation-header-save button {
  height: 100%;
  cursor: pointer;
}

.business-settings-details-generalInformation-header-save button:disabled {
  cursor: not-allowed;
  background-color: #2a2c32ec;
}

.dashboard-settings-details-generalInformation-body {
  display: flex;
  flex-direction: column;
  margin-top: 1em;
  border: 1px solid #e9e9e9;
  border-radius: 12px;
  background-color: #ffffff;
  width: 35vw;
  min-width: 290px;
  min-height: 450px;
  position: relative;
  padding: 1em;
}

.dashboard-settings-details-generalInformation-body-content-header {
  padding-bottom: 2em;
}

.dashboard-settings-details-generalInformation-body-content-header > p {
  text-align: left;
  font-weight: 600;
}

.dashboard-settings-details-generalInformation-body-content {
  display: flex;
  gap: 1em;
  width: 100%;
}

.dashboard-settings-details-generalInformation-body-content input,
.dashboard-settings-details-generalInformation-body-content textarea {
  font-weight: 600;
}

.dashboard-settings-details-generalInformation-body-content-general {
  width: 100%;
  border-right: 1px solid #e9e9e9;
  padding-right: 1em;
}

.dashboard-settings-details-generalInformation-body-content-socialMedias {
  width: 100%;
}

.dashboard-settings-details-generalInformation-body-content-general .form-group,
.dashboard-settings-details-generalInformation-body-content-socialMedias
  .form-group {
  margin-bottom: 1.5em;
  width: 100%;
}

.dashboard-settings-details-generalInformation-body-content-general
  .form-group
  textarea {
  overflow-y: hidden;
  overflow-x: hidden;
  resize: none;
  min-height: 7em;
  font-family: Arial, Helvetica, sans-serif;
}

.form-group.with-icon {
  position: relative;
}

.form-group.with-icon .input-icon {
  position: absolute;
  left: 10px;
  top: 50%;
  transform: translateY(-50%);
  color: #888;
}

.form-group.with-icon input,
.form-group.with-icon label {
  padding-left: 35px;
}
