.business-settings-services-card {
  padding-left: 3rem;
  padding-top: 2rem;
}

.business-settings-services-header {
  display: flex;
  gap: 1em;
  align-items: center;
}

.dashboard-settings-services-body {
  display: flex;
  flex-direction: column;
  margin-top: 1em;
  border: 1px solid #e9e9e9;
  border-radius: 12px;
  background-color: #ffffff;
  height: 77vh;
  width: 35vw;
  min-width: 500px;
  min-height: 500px;
  position: relative;
}

.dashboard-settings-services-body-services #service {
  background-color: #f4f4f4;
}

.dashboard-settings-services-body-header > p {
  text-align: left;
  padding: 0.75em;
  font-weight: bold;
}

.dashboard-settings-services-body-header > hr {
  opacity: 30%;
}

.dashboard-settings-services-body-content {
  display: flex;
  flex: 1;
  overflow: hidden;
  width: 100%;
}

.dashboard-settings-services-body-categories {
  flex: 1;
  border-right: 1px solid #e9e9e9;
  align-self: stretch;
  text-align: left;
  user-select: none;
  min-width: 200px;
}

.dashboard-settings-services-body-categories
  .dashboard-settings-services-body-categories-category {
  margin: 0;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.dashboard-settings-services-body-categories-category p {
  word-break: break-word;
  overflow-wrap: break-word;
  hyphens: auto;
  -webkit-hyphens: auto;
  -moz-hyphens: auto;
  margin: 0;
  padding: 0;
  text-align: left;
}

.dashboard-settings-services-body-categories-category-p {
  padding: 1em 1em;
  margin: 0;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 0.5rem;
}
.dashboard-settings-services-body-categories-category-chevron {
  margin-left: auto;
  padding: 1rem 0.5rem;
}

.dashboard-settings-services-body-categories-category-grab {
  padding: 1em 1em;
  cursor: grab;
  touch-action: none;
}

.dashboard-settings-services-body-categories-category-chevron:hover {
  opacity: 60%;
  background-color: #e0e0e0;
  border-radius: 4px;
}

.dashboard-settings-services-body-categories
  .dashboard-settings-services-body-categories-category:hover,
.dashboard-settings-services-body-categories-category-p:hover {
  background-color: #f4f4f4;
}

.dashboard-settings-services-body-categories-category-selected {
  background-color: #f4f4f4;
}

.dashboard-settings-services-body-services {
  flex: 2;
  display: flex;
  flex-direction: column;
  padding-top: 0.5em;
  padding-bottom: 1em;
}

.dashboard-settings-services-body-services .input-details {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 0.5em;
  padding-bottom: 0.5em;
  border-bottom: 1px solid #ccc;
  padding-left: 1rem;
  padding-right: 1rem;
}

.dashboard-settings-services-body-services .input-details .form-group {
  min-width: 10em;
  width: 100%;
}

.dashboard-settings-services-body-services-list {
  flex: 1;
  overflow-y: auto;
  position: relative;
}

.dashboard-settings-services-body-services-list-item {
  padding-right: 0.5em;
}

.dashboard-settings-services-body-services-list-placeholder {
  position: absolute;
  top: 10%;
  left: 50%;
  transform: translateX(-50%);
}

.dashboard-settings-services-body-services-list-placeholder span {
  opacity: 90%;
  user-select: none;
}

.dashboard-settings-services-body-services-list .divider {
  opacity: 30%;
}

.dashboard-settings-services-body-services-list
  .service-name-duration-name-price {
  padding: 0.75em;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.dashboard-settings-services-body-services-list-addnew-wrapper {
  position: absolute;
  bottom: 35px;
  right: 40px;
}

.dashboard-settings-services-body-services-list-addnew-plus {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 35px;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background-color: #2a2c32;
  color: white;
  cursor: pointer;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
}

.dashboard-settings-services-body-services-list-addnew-close {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 35px;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background-color: white;
  color: black;
  cursor: pointer;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
}

.dashboard-settings-services-body-services-list-addnew-modal-wrapper {
  position: relative;
  z-index: 100;
  user-select: none;
}

.dashboard-settings-services-body-services-list-addnew-menu {
  position: absolute;
  bottom: 80px;
  right: 0px;
  background-color: red;
  border-radius: 6px;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  border: 1px solid #ccc;
}

.dashboard-settings-services-body-services-list-addnew-menu button {
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 3rem;
  border-radius: 0;
  width: 200px;
  height: 50px;
  background-color: white;
  color: black;
  font-weight: bold;
  border: none;
}

.dashboard-settings-services-body-services-list-addnew-menu
  button:not(:last-child) {
  border-bottom: 1px solid #ccc;
}

.business-settings-services-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 50;
}
