.business-settings-services-card {
  padding-left: 3rem;
}

.business-settings-services-header {
  display: flex;
  gap: 1em;
  align-items: center;
}

.dashboard-settings-services-body {
  display: flex;
  flex-direction: column;
  margin-top: 1em;
  border: 1px solid #e9e9e9;
  border-radius: 12px;
  background-color: #ffffff;
  height: 77vh;
  width: 35vw;
  min-width: 290px;
  min-height: 500px;
  position: relative;
}

.dashboard-settings-services-body-services #service {
  background-color: #f4f4f4;
}

.dashboard-settings-services-body-header > p {
  text-align: left;
  padding: 0.75em;
  font-weight: bold;
}

.dashboard-settings-services-body-header > hr {
  opacity: 30%;
}

.dashboard-settings-services-body-content {
  display: flex;
  flex: 1;
  overflow: hidden;
}

.dashboard-settings-services-body-categories {
  flex: 1;
  border-right: 1px solid #e9e9e9;
  align-self: stretch;
  text-align: left;
}

.dashboard-settings-services-body-categories > p {
  padding: 1em;
  background-color: #f4f4f4;
  margin: 0;
}

.dashboard-settings-services-body-services {
  flex: 2;
  display: flex;
  flex-direction: column;
  padding: 1em;
}

.dashboard-settings-services-body-services .input-details {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 0.5em;
}

.dashboard-settings-services-body-services .input-details .form-group {
  min-width: 10em;
  width: 60%;
}

.dashboard-settings-services-body-services-list {
  flex: 1;
  overflow-y: auto;
  padding-right: 0.5em;
}

.dashboard-settings-services-body-services-list .divider {
  opacity: 30%;
}

.dashboard-settings-services-body-services-list
  .service-name-duration-name-price {
  padding: 0.75em;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.dashboard-settings-services-body-services-list-addnew {
  position: absolute;
  bottom: 1em;
  right: 1em;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 35px;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background-color: #2a2c32;
  color: white;
  cursor: pointer;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
}
