.service-category-modal-overview {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1000;
}

.service-category-modal-card {
  position: fixed;
  padding: 2em;
  top: 20%;
  left: 50%;
  transform: translateX(-50%);
  max-width: 400px;
  min-width: 350px;
  border-radius: 8px;
  background-color: white;
}

.service-category-modal-card-header-title {
  display: flex;
  gap: 2em;
  align-items: center;
  margin-bottom: 1em;
}

.service-category-modal-card-header > p {
  opacity: 80%;
  text-align: justify;
}

.service-category-modal-card-body {
  margin-top: 2em;
  display: flex;
  flex-direction: column;
  gap: 1em;
}

.service-category-modal-card-body textarea {
  overflow-y: auto;
  overflow-x: hidden;
  resize: vertical;
  min-height: 5em;
  max-height: 7em;
  font-family: Arial, Helvetica, sans-serif;
}

.service-category-modal-card-button {
  margin-top: 1em;
  display: flex;
  justify-content: space-between;
}

.service-category-modal-card-button
  > .service-category-modal-card-button-category-add-button {
  margin: 0;
  width: 7rem;
  height: 3.5rem;
  cursor: pointer;
}

.service-category-modal-card-button-category-remove-box {
  width: 3.5rem;
  height: 3.5rem;
  margin: 0;
  background-color: white;
  cursor: pointer;
}

.service-category-modal-card-button-category-remove-box-icon {
  color: red;
  font-size: 20px;
}
