.register-card {
  margin: auto;
  margin-top: 4em;
  max-width: 80em;
  border-radius: 12px;
  box-shadow: 0 24px 60px rgba(0, 0, 0, 0.3);
  background-color: white;
  display: flex;
  min-height: 600px; /* minimal height */
}

.register-details {
  margin-top: 5em;
  padding: 2em;
  flex: 1;
}

.register-card button {
  height: 3em;
}

.register-graphic {
  flex: 2;
  background-image: url("/images/image-register.jpg");
  background-size: cover;
  background-position: center;
  border-top-right-radius: 12px;
  border-bottom-right-radius: 12px;
}

#register-description {
  font-size: 18px;
  margin-top: 5px;
}

.register-form {
  padding-top: 1em;
}

.register-form > input {
  margin: auto;
  margin-bottom: 0.5em;
  width: 100%;
  height: 2em;
  border-radius: 10px;
  border: 0px;
  padding-left: 5px;
  background-color: #f5f5f5;
}

@media (max-width: 600px) {
  .register-card {
    margin: 1em;
    margin-top: 1em;
    flex-direction: column;
  }

  .register-graphic {
    display: none;
  }
}
