.business-staff-weekly-schedule-wrapper {
}

.business-staff-weekly-schedule-row {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  text-align: left;
  margin-left: 1rem;
  margin-right: 1rem;
  padding: 1rem;
}

.business-staff-weekly-schedule-row:not(:last-of-type) {
  border-bottom: 1px solid #ccc;
}

.business-staff-weekly-schedule-row-duration {
  opacity: 0.9;
}

.business-staff-weekly-schedule-row-duration-icon {
  color: gray;
}
