.services-navbar{
    position: fixed;
    top:80px;
    width: 100%;
    height: 80px;
    background-color: #2c3e50;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 999;
}

.services-navbar ul {
    display: flex;               /* MOD: flex, żeby li były w rzędzie */
    align-items: center;         /* MOD: wyśrodkowanie li w pionie */
    margin: 0;                   /* MOD: reset marginesu domyślnego ul */
    padding: 0;                  /* MOD: reset paddingu domyślnego ul */
    list-style: none;            /* MOD: brak kropek */
    height: 100%;                /* MOD: ul zajmuje całą wysokość nav */
    flex-wrap: wrap;
    justify-content: center;
}

.services-navbar ul li {
    height: 100%;
    display: flex;               /* MOD: flex, aby wyśrodkować tekst w li */
    align-items: center;         /* MOD: pionowe wycentrowanie tekstu */
}

.services-navbar ul li a {                    /* MOD: link zajmuje całą wysokość li */
    display: flex;               /* MOD: flex, aby wyśrodkować tekst w pionie */
    align-items: center;         /* MOD: wyśrodkowanie tekstu w pionie */
    height: 100%;                /* MOD: link zajmuje całą wysokość li */
    color: white;                /* MOD: kolor tekstu */
    text-decoration: none;       /* MOD: usuwa podkreślenie */
    cursor: pointer;             /* MOD: kursor zmienia się po całym linku */
    padding: 2rem 2rem;             /* MOD: tylko poziomy padding */
    box-sizing: border-box;    /* MOD: padding wliczony w height */
}

.services-navbar ul li + li::before {
    content: "";
    background-color: rgba(255, 255, 255, 0.5);
    width: 1px;
    height: 70%;
    margin: 0 0.5rem;                 /* odstęp od tekstu po bokach */
    align-self: center;             /* wyśrodkowanie pionowe */
}

.services-navbar ul li a {
    position: relative;
}

.services-navbar ul li a::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0%;
    height: 2px;
    background-color: #535bf2;
    transition: width 0.3s;
}

.services-navbar ul li a:hover::after {
    width: 100%;
}

