.business-settings-details-category-card {
  padding-top: 2rem;
  padding-left: 3rem;
  min-width: 0;
  max-width: 550px;
}

.business-settings-details-category-header {
  display: flex;
  gap: 1em;
  justify-content: space-between;
  min-width: 400px; /*has to remain the same as in .dashboard-settings-details-category-body! */
  align-items: flex-start;
}

.business-settings-details-category-header-back {
  display: flex;
  gap: 1em;
  justify-content: flex-start;
  align-items: center;
}

.business-settings-details-category-header-back
  .question-mark-wrapper
  .question-mark-icon {
  opacity: 40%;
  margin-top: 4px;
}

.question-mark-wrapper {
  position: relative;
  z-index: 1001;
}

.business-settings-details-category-header-back .tooltip {
  margin-top: 0.5em;
  position: absolute;
  visibility: hidden;
  background-color: white;
  padding: 1em;
  border: 1px solid #e9e9e9;
  border-radius: 6px;
  display: flex;
  width: 100%;
  min-width: 150px;
  transform: translateX(calc(-100% + 26px));
}

.business-settings-details-category-header-back
  .question-mark-wrapper:hover
  .tooltip {
  visibility: visible;
}

.business-settings-details-category-header-save {
  min-width: 8em;
  height: 3em;
  align-self: flex-end;
}

.business-settings-details-category-header-save button {
  height: 100%;
  cursor: pointer;
}

.business-settings-details-category-header-save button:disabled {
  cursor: not-allowed;
  background-color: #2a2c32ec;
}

.dashboard-settings-details-category-body {
  display: flex;
  flex-direction: column;
  margin-top: 1em;
  border: 1px solid #e9e9e9;
  border-radius: 12px;
  background-color: #ffffff;
  min-width: 400px;
  min-height: 5em;
  position: relative;
  padding: 1em;
}

.dashboard-settings-details-category-body-content-header {
  padding-bottom: 2rem;
}

.dashboard-settings-details-category-body-content-header > p {
  text-align: left;
  font-weight: 600;
}

.dashboard-settings-details-category-body-content {
  display: flex;
  gap: 1em;
  width: 100%;
}

.dashboard-settings-details-category-body-content select {
  font-weight: 600;
}

.dashboard-settings-details-category-body-content-general {
  width: 100%;
}

.dashboard-settings-details-category-body-content-general .form-group {
  margin-bottom: 1.5em;
  width: 100%;
}

@media (max-width: 586px) {
  .business-settings-details-category-card {
    width: 100%;
    padding: 0;
    padding-top: 0rem;
    margin: 0 auto;
    max-width: 520px;
    padding-bottom: clamp(1rem, 4vh, 3rem);
  }
  .business-settings-details-category-header {
    flex-direction: column;
    min-width: 0;
    margin: 0;
    padding: 1rem;
    font-size: 0.75rem;
    width: 100%;
  }

  .dashboard-settings-details-category-body-content-header {
    padding-bottom: 1rem;
  }

  .dashboard-settings-details-category-body {
    margin: 0rem 1rem;
    max-width: 520px;
    min-width: 0;
    min-height: auto;
  }

  .business-settings-details-category-header-save {
    width: 100%;
  }

  .business-settings-details-category-header-save button {
    border-radius: 10px;
  }

  .business-settings-details-category-header-back {
    justify-content: space-between;
    width: 100%;
  }
}
