.business-details-card {
  display: flex;
  flex-direction: column;
  text-align: left;
  padding-left: 3rem;
}

.business-details-header {
  margin-bottom: 2em;
  display: flex;
  display: flex;
  gap: 1em;
  align-items: center;
}

.dashboard-details-tiles {
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 50vw;
  gap: 2em;
  grid-auto-rows: 1fr;
}

.dashboard-details-tile {
  display: flex;
  background-color: #ffffff;
  padding: 2em 1em;
  gap: 1em;
  border: 1px solid #e9e9e9;
  border-radius: 6px;
  cursor: pointer;
}

.dashboard-details-tile-body {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.dashboard-details-tile-chevron {
  align-self: center;
  opacity: 30%;
}

.dashboard-details-tile-icon {
  margin-top: 4px;
  font-size: 26px;
}

.dashboard-details-tile-body-description {
  display: flex;
  flex-direction: column;
  gap: 0.5em;
}

.dashboard-details-tile:hover {
  .dashboard-details-tile-chevron {
    opacity: 80%;
  }
}
.dashboard-details-tiles a {
  display: contents; /* disable Link's own box!!!*/
}
